body {
    display: flex;
    background: linear-gradient(#2252c3, #fd2d6b);
}

#gallery{
    display: flex;
    flex-direction: column;
    border: solid rgb(0, 0, 0) 4px;
    padding: 5px;
    gap: 10px;
    height: 900px;
    overflow: auto;
    margin-top: 200px;
}

#gallery img{
    width: 300px;
}

#gallery img:hover{
    cursor: pointer;
    opacity: 0.7;
}

#view{
    border: solid rgb(0, 0, 0) 3px;
    width: 1200px;
    height: 800px;
    margin-left: 180px;
    margin-top: 200px;
}

#view img{
    width: 1200px;
    height: 800px;
    transition: 500ms ease-in-out;
}

button {
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-family: monospace;
    padding: 2px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}